h3.article-title{
  font-size: 1.2rem;
  margin-top: 0px
}
p.read-more a{
  font-size: 12px;
  margin: 0px;
}

.icon-list, .icon-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-list li {
  margin: 1em;
}

.icon-list li:before {
  content: '\f1ea'; /* fa-newspaper */
  font-family: 'FontAwesome';
  float: left;
  margin-top: -.33em;
  margin-left: -0.8em;
  margin-right: 0.18em;
  font-size: 28px;
  color: #111111;
}

ul.icon-list code {
  color: grey;
  font-style: italic;
  background-color: inherit;
  font-size: 0.8em;
}

#person-email{
  padding: 10px 100px;
  background-repeat: no-repeat;
  background-image: url("../img/email.png");
}
